<div id="container">
    <app-sidebar></app-sidebar>
    <div id="content">
      <router-outlet></router-outlet>
      <div>
        <p style="font-weight: bold;">Find people</p>
        <input style="width:100%" placeholder="Search for specific friend">
      </div>
      <div>
        <br>
        <p style="font-weight: bold;">Results</p>
        <div>
          <ol>
            <li *ngFor="let user of avilableToAdd"> <!-- asnyc for reading observable vals -->
              <div style="height: 148px;">
                <div class="first" style="height: inherit;">
                  <img style="width: 128px; height: 128px;" src="{{user.imgref}}">
                </div>
                <div class="second" style="height: inherit;">
                  <p style="font-size: 48px; font-weight: bold; vertical-align: center; color: #2f2f2f">{{user.name}} {{user.surname}}</p>
                </div>
                <div style="height: inherit">
                  <button class="addbtn" type="button" (click)="onAdd(user.userId)" id="button{{user.userId}}">Add friend</button>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
    
</div>
