*{
  padding: 0;
  margin: 0;
  border: 0;
}

.sbcolor{
  background-color: #289b1b;
}

.bold{
  font-weight: bold;
  color: white;
}

.inheritwidth{
  width: inherit;
}

.inheritheight{
  height: inherit;
}

