*{
  padding: 0;
  margin: 0;
  border: 0;
}

.sbcolor{
  background-color: #289b1b;
}

.bold{
  font-weight: bold;
  color: white;
}

.inheritwidth{
  width: inherit;
}

.inheritheight{
  height: inherit;
}

.commentDiv{
  height: 128px;
  background-color: #ffffff;
  margin-top: 8px;
}

.commentValue{
  vertical-align: middle;
}
