<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="container">
  <app-sidebar></app-sidebar>
  <div class="padding" id="content">
    <div>
      <img style="width: 680px; height: auto;" src="{{loadedImg}}">
    </div>
    <div class="reactionsection">
      <div class="likesection">
        <p>{{likenum}} people like this</p>
        <p>Fun fact about the like number:<br>{{fact}}</p>
        <button class="sbcolor bold" (click)="like()" type="button">LIKE</button>
      </div>
      <div class="commentsection">
        <div class="commentDiv" *ngFor="let comment of specificComments" style="height: 128px">
          <img class="size128 floating" src="{{comment.imgref}}">
          <div class="commentValue floating inheritSize">
            <p style="font-weight: bold; font-family: arial">{{comment.userName}}</p>
            <p class="commentValue">{{comment.comment_content}}</p>
          </div>
        </div>
      </div>
      <div style="margin-top: 8px;width: inherit; height: 400px" class="writecomment">
        <p style="font-weight: bold">Write your comment</p>
        <input id="commentVal" style="width: 800px; height: 360px">
        <br>
        <button class="sbcolor bold" (click)="postComment()" type="button">POST COMMENT</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
