<!--The content below is only a placeholder and can be replaced.-->
<div class=startmenubar style="text-align:center">
  <h1>
    Welcome to Social Book
  </h1>
</div>
<div class="loginmain">
  <div class="registrationinputs">
    <p>Username:</p>
    <input class="registrationinputs" id="username">
  </div>
  <div class="registrationinputs">
    <p>Password:</p>
    <input class="registrationinputs" id="password" type="password">
  </div>
  <div>
    <button type="button">Login</button>
  </div>
  <div>
    <p>New user? You can register <a href="">here</a></p>
  </div>

</div>

