<nav>
  <ul>
    <li>
      <a routerLink="/home">
        <!--<i class="material-icons">supervised_user_circle</i>-->
        <i class="material-icons">home</i>
      </a>
    </li>
    <li>
        <a routerLink="/find">
          <!--<i class="material-icons">message</i>-->
          <i class="material-icons">search</i>
        </a>
    </li>
    <li>
        <a routerLink="/profile">
          <!--<i class="material-icons">message</i>-->
          <i class="material-icons">person</i>
        </a>
    </li>
    <li>
      <a routerLink="/addalbum">
        <i class="material-icons">add_a_photo</i>
      </a>
    </li>
  </ul>
</nav>