.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.first {
  width: 20%;
  float: left;
  text-align: left;
}
.second {
  width: 80%;
  float: left;
  text-align: left;
}

.classic {
  float: revert;
}

