
* {
  padding: 0;
  margin: 0;
}

/*
.grid-container {


  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  height: 128px;
  width: 128px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}*/

.inheritsize {
  height: inherit;
  width: inherit
}

.postDivision{
  height: 600px;
  width: inherit
}

.floating {
  float: left;
}

.size128 {
  width: 128px;
  height: 128px
}

.namedata {
  width: 128px;
  height: 602px;
  float: left;
}

.container {

  justify-content: center;
  align-items: center;

  /*margin: 10px;*/
  width: 602px;
  height: 572px;
  background-color: #289b1b;
  display: grid;
  grid-template-columns: 256px 256px;
  grid-row: auto span;

  /*grid-row-gap: 10px;
  grid-column-gap: 10px;*/

}

.box {
  height: 256px;
  width: 256px;

  align-self: center;
  align-content: center;
  alignment: center;

  background-color: #289b1b;

  /*padding: 20px;*/
  margin: 10px;

  /*border-radius: 10px;*/

  color: #289b1b;
  display: flex;
}

img {
  height: inherit;
  width: inherit;
}
