<!--<h1>O čaw {{currentUser.firstName}}!</h1>-->
<div id="container">
  <app-sidebar></app-sidebar>
  <div class="padding" id="content">
    <ol style="width: 100%; height: 100%">
      <li class="inheritsize" *ngFor="let post of posts"> <!-- asnyc for reading observable vals -->
        <div class="inheritsize" style="float: left">
          <div class="namedata">
            <img style="width: 128px; height: 128px" src="{{this.sharedData.imgref}}">
            <p>{{this.sharedData.name}} {{this.sharedData.surname}}</p>
          </div>
          <div style="float: left" class="container">
            <div class="box">
              <img src="{{id1}}">
            </div>
            <div id="si" class="box">
              <img src="{{id2}}">
            </div>
            <div id="ti" class="box">
              <img src="{{id3}}">
            </div>
            <div id="fi" class="box">
              <img src="{{id4}}">
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
  <router-outlet></router-outlet>
</div>
