<div class="padding">
  <h2 style="font-size: 50px;font-weight: bold;">Register:</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="registerhalf" for="name">First Name</label>
      <input type="text" formControlName="name" class="form-control registerhalf"
             [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">First Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="registerhalf" for="surname">Last Name</label>
      <input type="text" formControlName="surname" class="form-control registerhalf"
             [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"/>
      <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
        <div *ngIf="f.surname.errors.required">Last Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="registerhalf" for="username">Username</label>
      <input type="text" formControlName="username" class="form-control registerhalf"
             [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="imgurl" for="imgurl">Profile Image Url</label>
      <input type="text" formControlName="imgurl" class="form-control registerhalf"
             [ngClass]="{ 'is-invalid': submitted && f.imgurl.errors }"/>
      <div *ngIf="submitted && f.imgurl.errors" class="invalid-feedback">
        <div *ngIf="f.imgurl.errors.required">Profile Image Url is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="registerhalf" for="password">Password</label>
      <input type="password" formControlName="password" class="form-control registerhalf"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="buttons">Register</button>
      <img *ngIf="loading"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      <a [routerLink]="['/login']" class="linky">Cancel</a>
    </div>
  </form>
</div>
